*{
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
    /**/
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
        z-index: 2;

    
}
.black{
     /* background-color: #000814;  */
     background-color: #0a101e;
}
.nav{
        width: 100%;
        z-index: 2;
}
.st-sticky-color{
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(225, 165, 0, 0.2);
    box-shadow: 0 0 20px rgba(211, 148, 32, 0.5);
    /* z-index: 3; */
}
.st-hero.st-style2{
    background: url(assets/img/hero-bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
    
}
.nav{
    position: fixed;
    top: 0;
    z-index: 2;

}
.mainhead{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 100px; */
    z-index: 2;


    padding: 30px 0px;
}
.head1{
    font-size: 35px;
    cursor: pointer;
    z-index: 2;

}
.win{
    
    color: #ffc107;
}
.win1{
    font-size: 25px;
    color: #ffc107;
}
.head2content{
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    z-index: 2;

    
}
.head2content li a {
    color: white;
    transition: color 0.3s ease;
    z-index: 2;

}


li:hover::after, li:hover::before {
  width: 100%;
}

.head2content li a:hover{
    color: #ffc107;
}
a{
    text-decoration: none;
    color: white;
    z-index: 2;


}
.download{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    z-index: 2;

}


#mainherosection{
    padding: 15px 0px ;

}
.herosection{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 150px 0px;
    justify-content: center;
}
.hello{
    font-size: 55px;
    padding: 10px 0px;
}
.ashwin{
    font-size: 35px;
    padding: 10px 0px;
}
 .leftherosection{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 80px ;
    
 }
 
 /* .rightherosection{
    width: 80%;
    
 } */
.full{
    font-size: 35px;
    padding: 10px 0px;
}
.am{
    font-size: 20px;
    padding: 10px 0px;
    width: 600px;
    color: gray;
}
.images{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 0px;
    justify-content: center;
}
#aboutmemain{
    padding-top: 100px;
    z-index: -1;
}
.aboutme{
    text-align: center;
    font-size: 30px;
    color: #FEC544;
    text-transform: uppercase;

}
.bottomline{
    height: 4px;
    width: 230px;
    margin: 15px auto;
    background: linear-gradient(to right, #888888 0%, #888888 20%, #FEC544 20%, #FEC544 80%, #888888 80%, #888888 100%);
    border-radius: 10px;
    text-align: center ;
}
.abtmain{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 160px 0px;
    z-index: -2;

}
.abtright{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

}
.am1{
    font-size: 20px;
    padding: 10px 0px;
    width: 650px;
    letter-spacing: 0.6px;
    line-height: 25px;
    /* width: auto; */


}
.hireme{
    padding: 10px 20px;
    background-color: #ffc107;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
    color: black;
    
}
#education{
    padding-top: 100px;
}
/* .mainbox{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 150px 20px;
}
.box1{
    display: flex;
    flex-wrap: wrap;
    gap: 350px;
    justify-content: space-around;
    margin-top: 5px;
}
.oneleft{
    font-size: 28px;
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box22{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    
}
.webdesign{
    font-size: 28px;
}
.webd{
    color: #FEC544;
    font-size: 18px;
} */
 .mainbox {
  display: flex;
  flex-direction: column; /* stack each row vertically */
  gap: 50px;
  margin: 100px 50px 150px 450px;
}

.box1 {
  display: flex;
  justify-content: flex-start; /* align items in a row */
  align-items: flex-start;
  gap: 100px; /* small consistent gap between date and content */
  justify-items: center;
}

.oneleft {
  font-size: 28px;
  width: 200px; /* fixed width so all dates align vertically */
}

.box22 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.webdesign {
  font-size: 28px;
}

.webd {
  color: #FEC544;
  font-size: 18px;
}
#myskills{
    padding-top: 100px;
    padding-bottom: 50px;
    z-index: -2;

}
.mainskills1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px 0px;
}
.skill1{
    display: flex;
    align-items: center;
    text-align: start;
    gap: 150px;
    padding: 5px 5px;
    border-bottom: 3px solid grey;
    padding-bottom: 10px;
    text-align: start;
    width: 300px;

}
.skill1 img{
    z-index: -1;
}
.html{
    font-size: 25px;
    width: 150px;
}
#myworksmain{
    padding: 100px 0px;
    z-index: 2;

}
/* .mywork{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
} */
.myworks{
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px 0px;
    flex-wrap: wrap; */
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 1400px;
    margin: 80px auto;
    padding: 0 20px; */
    z-index: -2;

}
.work1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px 0px;
    flex-wrap: wrap;
    z-index: -2;
    
    /* display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap; */
}
.work2{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 85%;
    margin-left: auto;
    margin-right: auto; */
    /* gap: 30px; */
}
.work3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 70px 0px;

}
/* .card1{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
} */
 .card1{
    background: white; 
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
 }
.card1:hover {
  transform: translateY(-5px);
}
.card1 img{
    width: 100%; 
    height: 300px;
     object-fit: cover;
    border-radius: 10px;
}

.comic{
    font-size: 25px;
    padding: 10px 0px;
    background-color: white;
    color: black; 
}
.dev{
    font-size: 18px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
}
.using{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    background-color: white;
}
.using1{
    font-family: 15px;
    color: #FF6C22;
    padding: 10px 20px;
    background-color: #FFE3BB;
    border-radius: 5px;
    border: none;
}
.using2{
    font-family: 15px;
    color: #0077b6;
    padding: 10px 20px;
    background-color: #caf0f8;
    border-radius: 5px;
    border: none;
}
.using3{
    font-family: 15px;
    color: #fdc500;
    padding: 10px 20px;
    background-color: #fffae5;
    border-radius: 5px;
    border: none;

}
.view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    height: 0px;
}
.viewdemo{
    color: black;
    background-color: #ffc107;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: auto;
}
.a{
    background-color: white;
}
.sourcecode{
    color: black;
    border: 2px solid #ffc107;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 18px 0px;
    background-color: white;
    cursor: pointer;
}
.sourcecode:hover{
    background-color: #ffc107;
    color: white;
    /* border:2px solid black; */
}


#contactmemain{
    padding-top: 100px;
}
.contactme{
    margin: 80px 0px;
}
.contactleft{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.name{
    font-size: 20px;
    padding: 15px 0px;
}
/* .firstname{
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    margin-bottom: 50px
} */
 .firstname{
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    padding-right: 250px;
    outline: none;
    margin-bottom: 50px
}
/* .textarea{
    width: 65%;
    background-color: white;
    color: grey;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-family: Arial,  sans-serif;
} */
 .textarea{
    width: 71%;
    background-color: white;
    color: grey;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-family: Arial,  sans-serif;
    outline: none;
}
/* .mainname{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */
 .mainname{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 190px;
}
.messagebox{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
}
.contactright{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.message{
    margin: 30px 0px;
   
}
.write{
    font-size: 16px;
    background-color: white;
    padding: 20px 760px 100px 20px;
    border-radius: 10px;
}
.submitbutton{
    margin: 50px 0px;
    margin-bottom: 0px;
    text-align: center;
}
.submit{
    color: black;
    background-color: #ffc107;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.footermain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.footerleft{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 18px;
    margin: 20px 0px;
}
.footerright{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:500px) {
    .am1,.am{
        width: 100%;
    }
    .footerleft{
        font-size: 10px;
    }
    .footerleft img{
        width: 5%;
    }
    .head1{
        font-size: 25px;
    }
    .head2content{
        font-size: 15px;
        gap: 20px;
    }
    .mainname{
        gap: 0px;
    }
    .firstname{
        padding-right: 100px;
    }
    .card1 img{
        width: 100%;
        height: 250px;
    }
    .card1{
        width: 95%;
    }
    .mainbox{
        margin: 50px 40px;
        font-size: 15px;
    }
    .box1{
        justify-content: space-between;
    }
    .box22{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .oneleft,.webdesign{
        font-size: 25px;
    }
    .webd{
        font-size: 15px;
    }
    

}

@media (min-width:700px) and (max-width: 880px){
    .mainname{
        gap: 0px;
    }
    .textarea{
        width: 60%;
    }
    .mainbox{
        gap: 75px;
    }
    .head2content{
        gap: 40px;
    }
    .head1{
        font-size: 25px;
    }
    .head3{
        margin-top: 15px;
    }
}
